/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
.check {
    border: 1px solid red;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
    font-size: 62.5%;
}
body {
    max-width: 960px;
    margin: auto;
    background-color: #f5f9fc;
    font-family: sans-serif;
    font-size: 1.6rem;
}
h1,
h2,
h5,
form,
p,
a {
    margin: 2%;
    color: #304659;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 4.5rem;
}
h5 {
    font-size: 2rem;
}
/******************************************
/* Navigation
/*******************************************/
/* Basic styling */
nav {
  font-size: 2.4rem;
  padding: 0 15px;
  border-bottom: 1px solid #8197aa;
}
a {
  text-decoration: none;
}
.menu {
  list-style-type: none;
}
.logo {
  font-size: 3.2rem;
  font-weight: 700;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
.button a {
    color: #fff;
    background-color: #304659;
    border-radius: 15px;
}
.button a:hover {
    text-decoration: none;
    background: #8197aa;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 4;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    .item.button a {
      padding: 9px 50px;
    }
}
/* Desktop menu */
@media all and (min-width:901px) {
    nav {
        font-size: 2rem;
        border-bottom: none;
    }
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .toggle {
        display: none;
    }
    .item.button a {
      padding: 9px 50px;
    }
}
/******************************************
/* LAYOUT
/*******************************************/
header p:first-child {
    font-size: 1.3rem;
    font-weight: 600;
    color: #8197aa;
    letter-spacing: 0.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
header img {
    float: right;
    margin: 7% 0;
}
header input,
header button {
    display: block;
    width: 100%;
}
header button {
    background-color: #304659;
    color: #fff;
    border: none;
    padding: 1.2% 0;
    margin: 1.5% 0;
}
header button:hover {
    background: #8197aa;
}
.feature-section {
    margin: 3% auto;
}
.feature-section img {
    float: left;
    max-width: 30px;
}
.feature-section section {
    margin: 4rem auto;
}
/* Why is link only being affected by the bottom margin not the top? */
.feature-section section h5,
.feature-section section p,
.feature-section section a,
.information-section p {
    margin: 1rem 0 1.6rem 3rem;
}
.feature-section section a {
    font-weight: 700;
}
.feature-section section a:hover {
    color: #ccc;
}
/* Make width of info section color go across full-page */
.information-section {
    background-color: #fff;
    padding-top: 5rem;
}
.information-section h2,
.information-section p{
    margin-left: 2%;
}
/* Tablet menu */
@media all and (min-width: 700px) {
    .hero {
        display: inline-block;
    }
    h1 {
        width: 60%;
    }
    header input,
    header button {
        display: inline;
        height: 30px;
    }
    header input {
        width: 50%;
    }
    header button {
        width: 20%;
        padding: 1px;
    }
}
/* Desktop */
@media all and (min-width: 901px) {
    .page {
        margin: none;
        float: right;
    }
    .hero {
        display: inline-block;
        width: 60%;
    }
    header input,
    header button {
        display: inline;
        height: 30px;
    }
    header input {
        width: 50%;
    }
    header button {
        width: 30%;
        padding: 1px;
    }
    /* Get a bigger version of the img */
    .hero-img {
        display: inline-block;
        max-width: 150px;
        float: right;
        width: 40%;
    }
    .feature-section {
        position: relative;
        left: -2rem;
    }
    .feature-section section {
        display: inline-block;
        width: 24%;
        margin-left: 1rem;
    }
    .feature-section section:first-of-type {
        margin-left: 0;
    }
    .feature-section section img {
        float: none;
        max-width: 50px;
        position: relative;
        left: 2rem;
    }
    .information-section h2,
    .information-section p{
        width: 50%;
    }
}
